.controlls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlls__buttons {
    display: flex;
    align-items: center;
}

.controlls__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.controlls__button:first-child {
    margin-right: 5px;
}

.controlls__button:hover {
    background: lightseagreen;
}